/*
usally i use sass, but this project is not going to be scaled more..
*/

.note {
  transition: 0.7s;
}

.item:last-child {
  border: none;
}

.p15px {
  padding: 15px;
}

.p10px {
  padding: 10px;
}

.cls-map-container {
  height: 300px; }

.cls-input-label {
  letter-spacing: 1px; }

body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.marker {
  background-image: url('/imgs/mapbox-icon.png');
  background-size: cover;
  width: 20px;
  height: 20px;
  /* border-radius: 50%; */
  cursor: pointer;
}

.mapboxgl-popup {
max-width: 200px;
}

.mapboxgl-popup-content {
text-align: center;
font-family: 'Open Sans', sans-serif;
}

.mapboxgl-popup-close-button {
padding: 2px 5px;
}
