<template>
    <div id="root">

        <div class="py-10 bg-gray-100">
            <form onsubmit="submit" class="p15px text-gray-800 container lg:w-1/3 bg-white shadow rounded-sm mx-auto p-10 ">
                <h1 class="p15px text-4xl font-bold px-0 pt-0 mb-5">create account</h1>
                <div class="relative "> 
                    <i class="fas fa-envelope m-3 absolute left-0 top-0 text-gray-500"></i>
                    <input  type="text" name="email" placeholder="email" class="p-2 w-full border bg-white rounded-sm mb-5 pl-10">
                </div>
                <div class="relative ">
                    <i class="fas fa-lock m-3 absolute left-0 top-0 text-gray-500"></i>
                    <input  type="password" name="password" placeholder="password" class="p-2 w-full border bg-white rounded-sm mb-5 pl-10">
                </div>
                <div class="relative ">
                    <i class="fas fa-lock m-3 absolute left-0 top-0 text-gray-500"></i>
                    <input  type="password" name="password_confirmation" placeholder="password confirmation" class="p-2 w-full border bg-white rounded-sm mb-5 pl-10">
                </div>
                <button class="p10px w-full bg-blue-500 hover:bg-blue-600 text-white shadow-lg rounded-sm capitalize">
                    register now <i class="fas fa-arrow-right ml-1"></i>
                </button>
            </form>
        </div>

    </div>
</template>

<script>
export default {
    
    methods: {
        /**
         * submit sign up form
         */
        submit(e) {
            e.preventDefault();

            const form = document.querySelector('form');

            this.$axios.post('/register', {
                email: form.email.value,
                password: form.password.value,
                password_confirmation: form.password_confirmation.value
            })
            .then(res => {
                alert('registred with success');
            }).catch(err => {
                console.error('Catched Error: ', err);
            })

        }
    }

}
</script>
