<template>
  <!--white body: contains our work-->
  <div id="root" class="flex bg-gray-100">
    <div class="p15px w-1/2 bg-white p-10 text-gray-800 h-screen overflow-y-scroll">
     <!--title-->
      <h1 class="text-2xl font-bold capitalize mb-5">my saved places</h1>
      <!-- delete all -->
      <button @click="deleteAll" class="uppercase text-xs float-right -mt-12 border rounded-sm px-2 py-1">delete all</button>
      <!--flex div: contains one saved place-->
      <div v-for="place in this.geojson.features" :key="place.properties.id" class="item p15px flex flex-wrap px-0 items-start border-b">

        <!--contains the number of saved place-->
        <div class="p15px animated fadeInLeft pl-0 py-2"> <span class="">#{{ place.id }}</span></div>
        <!--location-->
        <span class="p15px animated fadeInLeft py-2 text-sm inline-block bg-gray-200 rounded mr-1 ">
          <span class="fas fa-map-marker mr-1"></span>
          <span class="">{{ place.properties.location }}</span>
        </span>
        <!--name-->
        <span v-if="place.properties.name.length" class="p15px animated fadeInLeft py-2 text-sm inline-block bg-gray-200 rounded mr-1 ">
          <span class="fas fa-pen mr-1"></span>
          <span class="">{{ place.properties.name }}</span>
        </span>
        <!--comment-->
        <span v-if="place.properties.comment.length" class="p15px animated fadeInLeft py-2 text-sm inline-block bg-gray-200 rounded mr-1 ">
          <span class="fas fa-comment mr-1"></span>
          <span class="">{{ place.properties.comment }}</span>
        </span>

      </div>
    </div>

    <div class="w-1/2 relative h-screen">
      <!--map container-->
      <div id="map" class="absolute w-full h-full left-0 top-0 right-0 bottom-0 overflow-hidden">
      </div>
    </div>

    <div ref="note" class="note p15px absolute right-0 top-0 text-white m-5 bg-blue-700 w-64 shadow-lg rounded-sm"> <span class="px-1 py-2 text-sm block rounded mr-1 ">
      <span class="fas fa-exclamation-circle mr-1 text-xl mb-3"></span>
        <span class="block mb-2">hey !! just double click to create a new marker. you can click on the created markers in order to open the popup.</span>
      </span>
      <button @click="$refs.note.style.top = '-500px';" class="text-xs bg-white text-blue-700 font-semibold p-1 px-4 rounded-full capitalize">got it</button>
    </div>
  </div>
</template>

<script>
export default {

head () {
    return {
      title: this.title,
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        { hid: 'description', name: 'description', content: 'My custom description' }
      ],

      link: [
        { rel: 'stylesheet', href: 'https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.0/mapbox-gl.css' }
      ],

      script: [
        { src: 'https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.0/mapbox-gl.js' }
      ]
    }
  },

  data() {
    return {
      mapboxgl_accessToken: 'process.env.mapboxgl_accessToken',

      geojson: {
        type: 'FeatureCollection',
        features: [
        /*
        Feature Sample
        ----------------  
        {
          type: 'Feature',
          geometry: {
            type: 'Point',
            coordinates: [-77.032, 38.913]
          },
          properties: {
            title: 'Mapbox',
            description: 'Washington, D.C.'
          }
        },
        -----------------
        */
        ]
      },

      // will be used to track the coordinates and preventing the creation
      // of another marker in the same place
      allCoordinates: [],


      // will contain the map object
      map: {},

      // will contain all the listed markers
      createdMarkers: []

    }
  },
  
  watch: {
    /**
     * each time this object updates, store the new value into localstorage 
     */
    geojson: {
      handler(new_val, old) {

        const geojson = JSON.stringify(this.geojson);
        localStorage.setItem('geojson', geojson)

      }, deep: true
    }
  },

  async mounted() {

    await this.loadMap();

    /**
     * assign popup's input's values to our list
     * @param {String} field the name of the field inside geojson.features[i].properties
     * @param {Integer} id the id of the marker to be handled
     * @param {Event Object} event the event object
     */
    window.assign = (field, id, event) => {
      this.geojson.features.forEach(marker => {
        if(marker.id === parseInt(id)) {
          marker.properties[field] = event.target.value;
        }
      })
    },


    this.getMarkersFromLocalStorage();
  },


  methods: {

    /**
     * this will load and put all the markers from gojson to the map
     */
    loadMarkers() {

      const features = this.geojson.features;
      const featuresLength = features.length
      
      for (let i = 0; i < featuresLength; i++) {

        const marker = features[i];
        // create a HTML element for each feature
        const el = document.createElement('div');
        el.className = 'marker';

        // make a marker for each feature and add to the map
        const createdMarker = new mapboxgl.Marker(el)
        .setLngLat(marker.geometry.coordinates)
        .addTo(this.map);

        // will be needed to remove the markers
        this.createdMarkers.push(createdMarker);

        new mapboxgl.Marker(el)
          .setLngLat(marker.geometry.coordinates)
          .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
            .setHTML(this.renderPopupHTML(marker)))
          .addTo(this.map);
      }

    },

    /**
     * @param {object} marker: must pass the current marker
     * @return {string} popup's HTML
     */
    renderPopupHTML(marker) {
      return `<!--map marker's popup-->
        <div id="popup" class="p15px rounded-sm ">
          <!--current location-->
          <span class="px-1 py-2 text-sm block rounded mr-1">
            <span class="fas fa-map-marker mr-1"></span>
            <span class="font-bold">${marker.properties.location}</span>
          </span>
          <!--form-->
          <form class="p15px pb-0 px-0 text-left">
            <!--label for name-->
            <span class="text-xs uppercase text-gray-500 block mb-2 cls-input-label">name</span>
            <!--input for name-->
            <input oninput="window.assign('name', this.getAttribute('marker-id'), event)" marker-id="${marker.id}" value="${marker.properties.name}" type="text" placeholder="somthing" class="w-full bg-gray-200 text-xs p-1 px-2 capitalize mb-2">
            <!--comment's label-->
            <span class="text-xs uppercase text-gray-500 block mb-2 cls-input-label ">comment</span>
            <!--comment textarea-->
            <textarea oninput="window.assign('comment', this.getAttribute('marker-id'), event)" marker-id="${marker.id}" class="w-full text-xs bg-gray-200 p-1 px-2 capitalize mb-2">${marker.properties.comment}</textarea>
            <!--save button-->
          </div>
        </form>`;
    },

    getMarkersFromLocalStorage() {
      try {

        let geojson = localStorage.getItem('geojson')
        if(!geojson || geojson === 'null') return;

        this.geojson = JSON.parse(geojson);

        // load markers into the map
        this.loadMarkers();

      } catch (err) {
        console.error('Catched error: ', err);
      }

      //this.loadMarkers();
    },

    /**
     * init and loads the mapbox's map
     */
    loadMap() {
      return new Promise((resolve, reject) => {
        // wait for mapboxgl to be ready
        let interval = setInterval(() => {
          
          if(mapboxgl) {
            // don't touch this, it's should be like this
            // read the docs: https://docs.mapbox.com/help/tutorials/custom-markers-gl-js/
            mapboxgl.accessToken = process.env.mapboxgl.accessToken
        
            this.map = new mapboxgl.Map({
              container: 'map',
              style: 'mapbox://styles/mapbox/light-v10',
              center: [-96, 37.8],
              zoom: 3
            });
        
            this.loadMarkers(this.map);
        
            // Add zoom and rotation controls to the map.
            this.map.addControl(new mapboxgl.NavigationControl());
            
            // add event
            this.map.on('dblclick', async (e) => {
              e.preventDefault();
        
              /**
               * in this if else condition, i am trying to prevent creating another
               * marker in the same place
               */
              if(this.allCoordinates.includes(`${e.lngLat.lng} - ${e.lngLat.lat}`)) return;
              else this.allCoordinates.push(`${e.lngLat.lng} - ${e.lngLat.lat}`)
        
              this.geojson.features.push({
                id: this.geojson.features.length + 1,
                type: 'Feature',
                geometry: {
                  type: 'Point',
                  coordinates: [e.lngLat.lng, e.lngLat.lat]
                },
                properties: {
                  location: await this.getLocationAsString(e.lngLat.lng, e.lngLat.lat),
                  name: '',
                  comment: ''
                }
              });
        
              this.loadMarkers();
            });
            resolve(true);
            clearInterval(interval);
          }

          // timeout
          if(interval === 1000) {
            reject(false);
          }

        }, 100);
      });
    },

    /**
     * this should convert coordinates into string address
     * @param {double} lang
     * @param {double} lat
     * @return {string} address
     */
    getLocationAsString(lng, lat) {
      const url = `https://api.mapbox.com/v4/geocode/mapbox.places/${lng},${lat}.json?access_token=${process.env.mapboxgl.accessToken}`;
      
      return new Promise((resolve, reject) => {
        this.$axios.get(url)
        .then(res => {
          resolve(res.data.features[1].place_name);
        }).catch(err => {
          reject(err);
          console.error('Catched Error: ', err);
        })
      })
    },

    /**
     * delete all the saved places
     */
    deleteAll() {
      this.geojson.features = [];
      this.createdMarkers.forEach(marker => { 
        marker.remove();
      })
    }

  },

}
</script>
